.wp-block-wpicons-icon__wrap {
    display: inline-flex;
    align-items: center;
    vertical-align: middle;
    line-height: 0;

    svg {
        display: block;
        max-width: 100%;
        height: auto;
    }
}

.wpicons-inline {
    display: inline-block;
    width: 1em;
    height: 1em;
    vertical-align: -0.15em;

    svg {
        display: block;
        width: 100%;
        height: 100%;
    }
}
